.surface {
    background: #222;
}

.wordBox {
margin-top: 10em;
}

#newWords {
width: 40em;
height: 10em;
}

.tile {
    
  border-radius:4px;
  background:#cecece;
  padding:0 8px;
  margin:4px 0;
  margin-right: 4px;
  -webkit-font-smoothing: antialiased;
	-moz-font-smoothing:antialiased;
  color:#555;
  font-weight:bold; 

  	position: relative;
	display: inline-block;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
	visibility: inherit;
	opacity: 1;
    z-index: 999;
}

.minus7 {    
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.minus6 {    
    -ms-transform: rotate(-6deg); /* IE 9 */
    -webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
    transform: rotate(-6deg);
}

.minus5 {    
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
}

.minus4 {    
    -ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);
}

.minus3 {    
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
}

.minus2 {    
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
}

.minus1 {    
    -ms-transform: rotate(-1deg); /* IE 9 */
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
    transform: rotate(-1deg);
}

.plus7 {    
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.plus6 {    
    -ms-transform: rotate(6deg); /* IE 9 */
    -webkit-transform: rotate(6deg); /* Chrome, Safari, Opera */
    transform: rotate(6deg);
}

.plus5 {    
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
}

.plus4 {    
    -ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
}

.plus3 {    
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
}

.plus2 {    
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg);
}

.plus1 {    
    -ms-transform: rotate(1deg); /* IE 9 */
    -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
    transform: rotate(1deg);
}

.split{
  -webkit-transform: translate3d(0, 0, 0);
  font-size:24px;
  line-height:36px;
  color:#dedede;
  margin:50px auto;
  width:800px;
}

.split {
  border-radius:4px;
  background:#cecece;
  padding:0 8px;
  margin:4px 0;
  -webkit-font-smoothing: antialiased;
	-moz-font-smoothing:antialiased;
  color:#555;
  font-weight:bold; 

  	position: relative;
	display: inline-block;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
	visibility: inherit;
	opacity: 1;
	transform: matrix3d(0.999848, 0.0174524, 0, 0, -0.0174524, 0.999848, 0, 0, 0, 0, 1, 0, 0, -4, 0, 1);

}

